@using DesignPatternsAsp.Models.ViewModels
@model IEnumerable<BeerViewModel>
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" href="~/Beer/Add">New Beer</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <th>Name</th>
            </tr>
            <hr />
            @foreach (var beer in Model)
            {
                <tr>
                    <td>@beer.Name</td>
                </tr>
            }
        </table>
    </div>
</div>